button {
    /* margin: 10px; */
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 150px;
}
button.active {
    background-color: #0078e7;
    color: white;
}

.hide {
    display: none;
}

@media (max-width: 768px) {
    #menu {
        display: none;
    }
}